<a href="https://colab.research.google.com/github/Sujeet2003/Feature-Engineering/blob/main/3_getting_movies_details_with_imdb_urls.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [84]:
import requests
import pandas as pd
import pandas as pd

In [66]:
data = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Datasets/hindi_movies_list.csv')

In [67]:
data.head()

   tmdb_id     imdb_id                               imdb_url
0  1160018  tt28259207  https://www.imdb.com/title/tt28259207
1  1236671  tt31100872  https://www.imdb.com/title/tt31100872
2   799155   tt7529298   https://www.imdb.com/title/tt7529298
3   872906  tt15354916  https://www.imdb.com/title/tt15354916
4   784651  tt13818368  https://www.imdb.com/title/tt13818368

In [23]:
import numpy as np

In [82]:
import requests
import json

movie_title = []
release_date = []
duration = []
ratings = []
vote_count = []
poster_path = []
meta_score = []
genres = []
origin_country = []
director = []
cast = []
languages = []
overview = []

# Posteman api: apikey=71a67b9f
# sujeet1772003: apikey=d46dd96
# 1hk21cs161: apikey=32da4b94
def get_movies_details(imdb_id):
  url = f"http://www.omdbapi.com/?i={imdb_id}&apikey=32da4b94"

  response = requests.get(url).json()

  # movie title
  try:
    movie_title.append(response['Title'])
  except:
    movie_title.append(np.nan)


  # release date
  try:
    release_date.append(response['Released'])
  except:
    release_date.append(np.nan)

  # duration
  try:
    duration.append(response['Runtime'])
  except:
    duration.append(np.nan)

  # genres
  try:
    genres.append(response['Genre'])
  except:
    genres.append(np.nan)

  # director
  try:
    director.append(response['Director'])
  except:
    director.append(np.nan)

  # cast
  try:
    cast.append(response['Actors'])
  except:
    cast.append(np.nan)

  # overview
  try:
    overview.append(response['Plot'])
  except:
    overview.append(np.nan)

  # spoken languages
  try:
    languages.append(response['Language'])
  except:
    languages.append(np.nan)

  # country of origin
  try:
    origin_country.append(response['Country'])
  except:
    origin_country.append(np.nan)

  # poster path
  try:
    poster_path.append(response['Poster'])
  except:
    poster_path.append(np.nan)

  # meta score
  try:
    meta_score.append(response['Metascore'])
  except:
    meta_score.append(np.nan)

  # ratings
  try:
    ratings.append(response['imdbRating'])
  except:
    ratings.append(np.nan)

  # vote counts
  try:
    vote_count.append(response['imdbVotes'])
  except:
    vote_count.append(np.nan)

In [80]:
# data['imdb_id'].iloc[1:1001].apply(get_movies_details)      # Done

In [81]:
# data['imdb_id'].iloc[1000:2001].apply(get_movies_details)   # Done

In [83]:
data['imdb_id'].iloc[2000:3001].apply(get_movies_details)

2000    None
2001    None
2002    None
2003    None
2004    None
        ...
2996    None
2997    None
2998    None
2999    None
3000    None
Name: imdb_id, Length: 1001, dtype: object

In [85]:
df = pd.DataFrame({
    'title': movie_title,
    'release_date': release_date,
    'duration (in Min)': duration,
    'poster_path': poster_path,
    'genres': genres,
    'overview': overview,
    'director': director,
    'casts': cast,
    'rating': ratings,
    'total_votes': vote_count,
    'meta_score': meta_score,
    'languages': languages,
    'origin_country': origin_country,
})

In [86]:
df.head(1)

,title,release_date,duration (in Min),poster_path,genres,overview,director,casts,rating,total_votes,meta_score,languages,origin_country
0,Naina,20 May 2005,104 min,https://m.media-amazon.com/images/M/MV5BZTZlNm...,"Drama, Horror, Mystery","After receiving an eye transplant, a young wom...",Shripal Morakhia,"Urmila Matondkar, Anuj Sawhney, Malavika Nair",4.2,871,N/A,"Hindi, English","India, United Kingdom"

In [76]:
# df.dropna(subset=['title'], inplace=True)

In [71]:
# df.to_csv('df1.csv', index=False)        # Done

In [78]:
# df.to_csv('df2.csv', index=False)         # Done

In [88]:
# df.to_csv('df3.csv', index=False)         # Done