<a href="https://colab.research.google.com/github/Sujeet2003/Feature-Engineering/blob/main/4_Feature_Engineering_Movies_Datasets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd
import os

## Merging all collected datasets into a single dataframe

In [18]:
# lists = os.listdir('/content/')
# lists = lists[1:10]

In [19]:
# lists

In [20]:
# df = pd.DataFrame()
# for l in lists:
#   data = pd.read_csv('/content/' + l)
#   df = pd.concat([df, data])

In [21]:
# df.head(1)

In [22]:
# df.to_csv('scarpped_movies_datasets.csv', index=False)

In [47]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Datasets/scarpped_movies_datasets.csv')

In [48]:
df.head(1)

,title,release_date,duration (in Min),poster_path,genres,overview,director,casts,rating,total_votes,meta_score,languages,origin_country
0,Ballad of Rustom,03 Mar 2016,117 min,https://m.media-amazon.com/images/M/MV5BYTg0OG...,Drama,Rustom works in a small government office in t...,Ajita Suchitra Veera,"Ashwath Bhatt, Samiksha Bhatt, Tejaswi Bm",7.8,30,NaN,Hindi,India

In [49]:
df.shape

(8096, 13)

In [50]:
df.columns

Index(['title', 'release_date', 'duration (in Min)', 'poster_path', 'genres',
       'overview', 'director', 'casts', 'rating', 'total_votes', 'meta_score',
       'languages', 'origin_country'],
      dtype='object')

In [51]:
df['title'].isna().sum()

1102

In [56]:
# dropping the columns which having TITLE NOT AVAILABLE
df = df.dropna(subset=['title'])

In [63]:
# Dropping index
df = df.reset_index().drop(columns=['index'])

In [64]:
df.shape

(6994, 13)

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6994 entries, 0 to 6993
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   title              6994 non-null   object
 1   release_date       5455 non-null   object
 2   duration (in Min)  5577 non-null   object
 3   poster_path        6441 non-null   object
 4   genres             6804 non-null   object
 5   overview           6271 non-null   object
 6   director           6891 non-null   object
 7   casts              6812 non-null   object
 8   rating             5749 non-null   float64
 9   total_votes        6198 non-null   object
 10  meta_score         67 non-null     float64
 11  languages          6824 non-null   object
 12  origin_country     6933 non-null   object
dtypes: float64(2), object(11)
memory usage: 710.5+ KB

In [67]:
df.isna().sum()

title                   0
release_date         1539
duration (in Min)    1417
poster_path           553
genres                190
overview              723
director              103
casts                 182
rating               1245
total_votes           796
meta_score           6927
languages             170
origin_country         61
dtype: int64